@font-face {
    font-family: 'Cyberpunk';
    src: url('/fonts/Cyberpunk/Cyberpunk-cirillic.ttf');
    font-weight: 400;
	font-style:'normal' ;
}




@font-face {
    font-family: 'Font Over';
    src: url('/fonts/Font\ Over/Font Over.otf');
    font-weight: 500;
	font-style:'normal' ;
}


