@media (max-width:1830px) {
    .container {
        padding: 0 calc(10px + (30 - 10) * ((100vw - 320px) / (1830 - 320)))
    }
    .title {
        font-size: calc(24px + (42 - 24) * ((100vw - 320px) / (1830 - 320)));
    }
    .text {
        font-size: calc(14px + (16 - 10) * ((100vw - 768px) / (1830 - 768)));
    }
    .cyberText {
        font-size: calc(84px + (320 - 84) * ((100vw - 320px) / (1830 - 320)));
    }
    .cyberText-2 {
        font-size: calc(8px + (26 - 8) * ((100vw - 320px) / (1830 - 320)));
    }
    .fontOver-b {
        font-size: calc(10px + (22 - 10) * ((100vw - 768px) / (1830 - 768)));
    }
    .fontOver-s {
        font-size: calc(10px + (16 - 10) * ((100vw - 768px) / (1830 - 768)));
    }
    /*//////////////////////////////////HEADER/////////////////////////////*/
    .header__inner {
        margin-top: calc(10px + (37 - 10) * ((100vw - 320px) / (1830 - 768)));
    }
    .header__menu-title {
        font-size: calc(12px + (18 - 10) * ((100vw - 768px) / (1830 - 768)));
    }
    .header__col-l::before {
        left: calc(-25px + (0 - -25) * ((100vw - 768px) / (1830 - 768)));
    }
    .header__col-r::before {
        left: calc(25px + (0 - 25) * ((100vw - 768px) / (1830 - 768)));
    }
    .welcome {
        max-width: calc(163px + (346 - 163) * ((100vw - 320px) / (1830 - 320)));
    }
}

@media (max-width:1399px) {
    .before__absolute-r .before__disad:nth-child(1) {
        top: -10%;
    }
    .before__absolute-r .before__disad:nth-child(2) {
        left: -30px;
    }
    .how-table__content {
        flex-direction: column;
        gap: 35px;
        top: 80px;
        overflow: visible;
        padding: 0px 70px 40px 70px;
    }
    .how-table__tabs {
        transform: skewX(0);
        min-width: 105vw;
        position: relative;
        left: -100px;
        flex-direction: row;
        top: -110px;
        overflow-x: auto;
    }
    .how-table__tab {
        transform: skewX(-16deg);
    }
    .how ::-webkit-scrollbar {
        scroll-behavior: smooth;
        background-color: #CF52FE;
        box-shadow: inset 0 0 6px rgb(155, 4, 155);
    }
    .how ::-webkit-scrollbar-thumb {
        background: radial-gradient(73.08% 73.08% at 50% -0.51%, #eb059398 0%, #e319f5 100%);
        border: 1px solid rgba(253, 253, 253, 0.61)
    }
    .how-table__tab {
        min-width: 400px;
    }
    .how-table__tabs>img {
        display: none;
    }
    .how-slider .slider-s__controls {
        width: 110%;
    }
    .benefit__title {
        margin-left: 0;
        text-align: center;
    }
    .benefit__inner {
        flex-direction: column;
    }
    .chart__picture {
        display: flex;
        justify-content: end;
    }
    .chart__bottom {
        max-width: 360px;
        position: absolute;
        background: transparent;
        padding: 0;
        top: 15%;
        left: 5%;
    }
    .chart__bottom::after {
        content: none;
    }
    .arrow {
        transform: rotateX(130deg) translate(40%, 30%);
        transform-origin: bottom;
    }
    .tarifs__inner {
        background-size: 130% 100%;
    }
    .tarifs__free {
        flex: 0 1 50%;
        padding: 27px 25px 45px 25px;
    }
}

@media (min-width:999px) {
    .slider__container {
        transform: translateX(0px) !important;
    }
}

@media (max-width:999px) {
    html {
        font-size: 8px;
    }
    .startButton {
        transform: scale(0.7);
        transform-origin: center;
    }
    .header {
        background-position: center top;
        background-size: 250% 80%;
    }
    .header__main-text {
        gap: 15px;
    }
    .header__main-text p:last-child::after {
        width: 110%;
        right: -10px;
    }
    .header__start-text {
        margin-bottom: 0;
    }
    .humans-list {
        display: flex;
        gap: 20px;
        justify-content: start;
        padding: 20px;
    }
    /*.//////////////////SLIDER////////////////*/
    .slider {
        margin: 0 auto;
        padding: 20px;
        overflow: hidden;
        max-width: 442px;
    }
    .slider__container {
        padding: 0;
        margin-bottom: 25px;
    }
    .slide {
        flex: 0 0 100%;
    }
    .slider-controls {
        display: flex;
    }
    /*.//////////////////SLIDER////////////////*/
    .humans::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: 0;
        left: 0;
        background: url('../img/lines/Vector\ \(Stroke\).png') no-repeat;
        background-position: right;
        background-size: contain;
    }
    .human-card {
        padding: 15px;
        height: 814px;
    }
    .human-card:hover {
        transform: scale(1.01);
    }
    .human-card__avatar {
        margin-top: -30%;
    }
    .human-body__title {
        font-size: 14px;
    }
    .human-body__text {
        font-size: 15px;
    }
    .before__inner {
        width: 650px;
    }
    .before__absolute {
        gap: 60px;
    }
    .before__absolute-r .before__disad:nth-child(2) {
        left: -45px;
    }
    .before__absolute-r .before__disad:nth-child(2)::before {
        top: -50px;
    }
    .how {
        padding: 70px 0 170px 0;
    }
    .how__title {
        font-size: 54px !important;
    }
    .calc-bar__picture-dyn img {
        max-width: 600px;
    }
    .review-card__name {
        font-size: 18px !important;
    }
    .review__slider .slider-s__container {
        max-width: 700px;
    }
    .privilege__title {
        font-size: 40px !important;
        left: 0;
        text-align: center;
    }
    .points {
        justify-content: space-evenly;
    }
    .points__top {
        top: 5%;
    }
    .points__bottom {
        position: relative;
        top: -3%;
    }
    .services.slider-s {
        width: 100%;
        flex: 0 1 50%;
        row-gap: 15px;
    }
    .services .slider-s__container {
        overflow: hidden;
    }
    .services .slides-s {
        column-gap: 0;
    }
    .services .slide-s {
        flex: 0 0 100%;
    }
    .services .slider-s__controls,
    .services .slider-s__pagination {
        display: flex;
    }
    .services .slider-s__controls {
        width: 100%;
        justify-content: space-evenly;
    }
    .tarifs__pro {
        background: url('../img/tarifs/ProfiframebackgroundSmall.png') no-repeat;
        background-size: 100% 100%;
        padding: 33px 20px 29px 20px;
    }
    .pro-tarif__list {
        grid-template-columns: 1fr;
        row-gap: 10px;
        margin-bottom: 40px;
    }
    .pro-tarif__list-li {
        padding-left: 25px;
    }
    .pro-tarif__list-li::before {
        background-size: contain;
        width: 16px;
        height: 16px;
    }
    .pro-tarif__alt {
        font-size: 10px !important;
        margin-left: 15px;
    }
    .pro-tarif__caption {
        font-size: 42px !important;
    }
    .payment {
        max-width: 280px;
    }
    .payment__buttons button {
        padding: 8px;
    }
    .payment-details {
        position: relative;
        gap: 10px;
    }
    .payment-details::before {
        content: '';
        position: absolute;
        background: url('../img/tarifs/line.png') no-repeat;
        background-position-x: center;
        top: -18px;
        left: 0;
        width: 100%;
        height: 6px;
    }
    .button-switch {
        width: 158px;
        left: 5px;
        top: 5px;
    }
    .button-switch.active {
        left: 161px;
        width: 108px;
    }
    ._open .quest__block {
        background: url('../img/faq/faq_activeMed.png') no-repeat;
        background-size: 100% 100%;
    }
    .quest__block {
        background: url('../img/faq/faq_inactiveColMed.png') no-repeat;
        background-size: 100% 100%;
        padding: 13px;
    }
    .after__inner img {
        width: 100%;
    }
}

@media (min-width:769px) {
    body._lock {
        overflow: auto;
    }
    .mob-menu.active {
        z-index: -99;
        opacity: 0;
    }
}

@media (max-width:768px) {
    /*///////MENU MOBILE///////////////*/
    .menu-list {
        display: none;
    }
    .header__col-l::before,
    .header__col-r::before {
        content: none;
    }
    /*//////////////////////*/
    .slider-s {
        row-gap: 10px;
    }
    html {
        font-size: 5px;
    }
    .fontOver {
        font-size: 10px;
    }
    .header__col::before {
        background: none;
    }
    .header__bottom {
        transform: translate(-50%, 70%);
    }
    .welcome__body-text h2 {
        font-size: 10px;
    }
    .welcome__body-text p {
        font-size: 8px;
    }
    .teams__title {
        font-size: 20px !important;
    }
    .before {
        padding: 30px 0 30px 0;
    }
    .before__inner {
        max-width: 300px;
    }
    .before__absolute {
        top: 40%;
    }
    .before__disad {
        max-width: 100px;
        text-align: center;
    }
    .before__disad::before {
        height: 45px;
        width: 100%;
        top: -8px;
        right: 0px;
    }
    .before__absolute-l,
    .before__absolute-r {
        justify-content: space-between;
    }
    .before__absolute-l .before__disad:nth-child(1)::before {
        background-image: url('../img/lines/Rectangle\ 85.png');
    }
    .before__absolute-l .before__disad:nth-child(2)::before {
        background-image: url('../img/lines/Rectangle\ 84.png');
    }
    .before__absolute-r .before__disad:nth-child(1)::before {
        background-image: url('../img/lines/Rectangle\ 85.png');
        width: 100%;
    }
    .before__absolute-r .before__disad:nth-child(2)::before {
        background-image: url('../img/lines/Rectangle\ 86.png');
        width: 100%;
        top: -8px;
        right: 0px;
        left: auto;
    }
    .tab-content__title {
        font-size: 18px !important;
    }
    .how-table__tab {
        min-width: 355px;
    }
    .how-table__content {
        flex-direction: column;
        gap: 35px;
        top: 80px;
        padding: 0px 70px 40px 70px;
    }
    .slide-s>img {
        min-width: 80px;
    }
    .how-slider .slider-s__controls {
        margin-top: 10px;
        position: relative;
    }
    .benefit__title {
        font-size: 54px !important;
    }
    .chart__picture img {
        width: 100%;
    }
    .calculator__body {
        padding: 20px 15px 0px 15px;
        background-size: 130% 100%;
        background-position-x: center;
    }
    .form-calc>div,
    .total__item {
        flex-direction: column;
        row-gap: 15px;
        align-items: stretch;
    }
    .form-calc__input-text {
        width: auto !important;
    }
    .calc-bar__picture-dyn img {
        max-width: 300px;
    }
    .chart__top,
    .chart__bottom {
        padding: 20px;
    }
    .chart__bottom {
        position: relative;
        background: #001A30;
        max-width: none;
        top: 0;
        left: 0;
    }
    .chart__bottom::after {
        content: '';
    }
    .arrow {
        transform: none;
        bottom: 25%;
    }
    .tarifs__inner {
        background-size: 240% 100%;
    }
    .review__item {
        background: url('../img/review/ReviewbackgroundSmall.png') no-repeat;
        background-size: 100% 100%;
        padding: 35px;
    }
    .review__slider .slider-s__container {
        max-width: 500px;
    }
    .review-card__title {
        position: relative;
        left: 10%;
        font-size: 14px !important;
        margin-bottom: 10px;
    }
    .review-card__top {
        column-gap: 20px;
    }
    .review-card__info {
        justify-content: end;
        row-gap: 15px;
    }
    .review-card__avatar {
        width: 40%;
    }
    .review-card__avatar img {
        width: 100%;
    }
    .review-card__soc {
        position: absolute;
        right: 10px;
        top: 0;
    }
    .review-card__quote p {
        font-size: 14px !important;
    }
    .review__slidesr-cntrl {
        position: relative;
        justify-content: space-between;
    }
    .points__list {
        row-gap: 25px;
    }
    .service-loktar,
    .service-other {
        padding: 20px 10px;
    }
    .service-loktar__title,
    .service-other__title {
        font-size: 18px !important;
    }
    .plus,
    .minus {
        width: 28px;
        height: 28px;
    }
    .service-loktar__content,
    .service-other__content,
    .service-loktar__list,
    .service-other__list,
    .service-loktar__bottom,
    .service-other__bottom {
        row-gap: 20px;
    }
    .services .slides-s {
        max-width: 215px;
    }
    .tarifs__col {
        flex-direction: column;
        padding: 0 15px;
    }
    .footer__row {
        flex-direction: column;
        gap: 43px;
    }
    .footer__top {
        position: relative;
        justify-content: space-between;
    }
    .footer__contract {
        flex-direction: column;
        row-gap: 14px;
    }
    .footer__bottom {
        position: relative;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .after__inner img {
        max-width: 60%;
        min-width: 300px;
    }
}

@media (max-width:499px) {
    .mob-menu__title::after {
        background-size: 150% 70%;
    }
    .mob-menu__inner {
        justify-content: start;
    }
    .mob-menu__col {
        padding: 25px 5px;
    }
    .header {
        padding-bottom: 10%;
    }
    .welcome__footer p {
        font-size: 4px;
    }
    .humans__inner {
        max-width: 310px;
    }
    .humans__list {
        gap: 40px;
    }
    .human-card {
        max-width: 290px;
        max-height: 545px;
    }
    .human-card__avatar {
        margin-top: -35%;
    }
    .human-content__top,
    .human-content__body {
        padding: 20px 15px;
    }
    .human-footer__text {
        font-size: 14px;
        line-height: 90%;
    }
    .human-header__dna-text {
        font-size: 9px !important;
    }
    .how__title {
        font-size: 37px !important;
    }
    .how__text {
        font-size: 18px !important;
    }
    .calculator__btn svg {
        width: 320px;
    }
    .review__slider .slider-s__container {
        max-width: 350px;
    }
    .review-card__soc {
        right: 0;
    }
    .pro-tarif__alt {
        margin-left: 4px;
    }
    .payment {
        max-width: 240px;
    }
    .button-switch {
        width: 133px;
    }
    .button-switch.active {
        left: 140px;
        width: 90px;
    }
    ._open .quest__block {
        background: url('../img/faq/faq_activeSml.png') no-repeat;
        background-size: 100% 100%;
    }
    .quest__block {
        background: url('../img/faq/faq_inactiveColSml.png') no-repeat;
        background-size: 100% 100%;
    }
}

@media (max-width:320px) {
    body {
        background: url('../img/Background.png') no-repeat top;
        background-size: cover;
        height: 100vh;
    }
    canvas {
        display: block;
    }
    .wrapper {
        display: none;
    }
}